#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/1a77d2976dd14b02e1d6699f058b60ae.jpg?ts=1761087580");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
