#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/994fd80986487be06291971648617307.jpg?ts=1761282498");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
