#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/9bd668ab2f7524072c4a0670c675f572.jpg?ts=1761623537");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
