#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/012a069fa55660fa654b9915ac30d14a.jpg?ts=1761618764");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
