#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/4a52250309b3e3915c068e64dc636d8a.jpg?ts=1761090167");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
