#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/62a4805199ebb491510d8b56f827f901.jpg?ts=1761101731");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
