#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/78831797e0e8da2994faa6630f2fb927.jpg?ts=1761531841");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
