#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/74bd63bf60b99407befb158a73ac095f.jpg?ts=1761104494");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
