#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/3dc02e6fd71608610ef1255e97966b4b.jpg?ts=1761288056");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
