#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/3af71b1dee10fbb6b712cd95c0b95a30.jpg?ts=1761274321");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
