#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/f9eef2f0901d4eb9c39a33ef7103f95a.jpg?ts=1761274930");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
