#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/f7db977f3a2d6ca5a18b0b7a9b46ae97.jpg?ts=1761102266");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
