#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/787c77e7364d699eeec785ec8900ac96.jpg?ts=1761536642");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
