#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/5a8b81861eb41f3d276a4afad2dd77b5.jpg?ts=1761266613");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
