#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/3c4390807d26f425b70eebd81e30ad59.jpg?ts=1761093462");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
