#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/6263a4d016f964f924b601c9c2c6ce4e.jpg?ts=1761607392");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
