#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/ad0f88b8828f574cc5ed8a91169d7004.jpg?ts=1761105659");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
