#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/af96392fd04adf98a722ace343e25a7b.jpg?ts=1761628709");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
