#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/551fdbf69986569cfa8515eef336b693.jpg?ts=1761530156");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
