#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/03990859a0f569af3a8bd3b8422b1f75.jpg?ts=1761622984");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
