#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/b172b045ae27324d53e5b94cd3076a3f.jpg?ts=1761112984");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
