#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/a4f26e1b9b69ea7b5efa8c1ee7e9cb66.jpg?ts=1761111861");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
