#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/6bc2a945706588cc36660707de8a9cd7.jpg?ts=1761096274");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
