#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/a409c4dd5a890eec8f9a6ebf75a92b5b.jpg?ts=1761618315");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
