#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/24d90cc6d0aba2af34ee44d30f57d68b.jpg?ts=1761621821");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
