#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/f77f836cc33afe7e19d7aa26a7762c92.jpg?ts=1761088385");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
