#custom-spotify-art {
  min-width: 32px;
  min-height: 32px;
  background-image: url("file:///home/tenzin/.cache/waybar/albumart/46dbd34c8656d5506cd257c874b768e2.jpg?ts=1761103505");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
